* {
  margin: 0;
}
.App {
  background-image: url("./Assets/Images/Illustration2.png");
}

.shopping-list {
  text-align: left;
  background-color: pink;
}

.header {
  background-color: black;
  padding: 5px;
  color: white;
  object-fit: contain;
  white-space: normal;
}
th {
  padding: 5px;
  text-align: center;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.slider {
  object-fit: contain;
  height: 30px;
  width: 120px;
}
